
{% extends "base.html" %}
{% block body %}

<div class="mx-auto" style="width: 600px;">
<div>
    <H1>AIを活用したFIM予測</H1>
    <p> 1,2,3ヶ月後のFIMの予測ができます。 (項目は全て必須)</p>
    <!-- form要素のactionでpostで遷移先をURL指定する。送る内容は </form>までの内容 -->
    <form action="{% url 'result' %}" method='post' class="form" enctype="multipart/form-data">
    {% csrf_token %}
        <br>
        <br>
        <div class="form-group" >
            <div class="care-radio">
                <!-- {}はdjangoの変数=views.pyから送る変数を参照。今回はcontext -->
                <tr>
                    <td><h4>１ 性別</h4><br/>
                        {{form.sex}}
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>２ 年齢</h4><br/>
                        {{form.age}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>３ 疾患情報（今回の主疾患）</h4><br/>
                        {{form.disease}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>４ 発症からの経過日数</h4><br/>
                        {{form.days}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>５ 主要介護者の有無</h4><br/>
                        {{form.helper}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>６ 食事</h4><br/>
                        {{form.meal}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>７ 整容</h4><br/>
                        {{form.hygienic}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>８ 清拭</h4><br/>
                        {{form.wipingClean}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>９ 更衣上半身</h4><br/>
                        {{form.upperBodyDressing}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１０ 更衣下半身</h4><br/>
                        {{form.lowerBodyDressing}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１１ トイレ動作</h4><br/>
                        {{form.toiletAction}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１２ 排尿管理</h4><br/>
                        {{form.urinationControl}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１３ 排便管理</h4><br/>
                        {{form.defecationControl}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１４ ベッド・椅子・車椅子移乗</h4><br/>
                        {{form.bedsChairsWheelchairs}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１５ トイレ移乗</h4><br/>
                        {{form.toilet}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１６ 浴槽・シャワー移乗</h4><br/>
                        {{form.bathtubShower}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１７ 歩行・車椅子</h4><br/>
                        {{form.walkingWheelchair}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１８ 階段</h4><br/>
                        {{form.stairs}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>１９ 理解</h4><br/>
                        {{form.understanding}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>２０ 表出</h4><br/>
                        {{form.expression}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>２１ 社会的交流</h4><br/>
                        {{form.socialCommunication}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>２２ 問題解決</h4><br/>
                        {{form.problemSolving}}               
                    </td>
                    <p>&nbsp;</p>
                    <td><h4>２３ 記憶</h4><br/>
                        {{form.memory}}               
                    </td>           
                </tr>
            </div>
        </div>
        <br>
        <br>
        {% csrf_token %}
        <button type="submit" style="width: 90%; padding: 10px;" class="btn btn-primary"　> 推定結果へ</button>
    </form>
</div>
</div>
{% endblock %}